:root {
    --clr-purple: #7651FE;
    --clr-light-purple: #B099FE;
    --clr-grey: #F5F4F8;
    --clr-drk-grey: #767676;
    --clr-brown: #FEEED9;
    --clr-drk-brown: #C48436;
    --clr-green: #1ACB97;
    --clr-orange: #FFAA46;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    display: flex;
    align-items: center;
    margin: 14px 10px;
}

header .logo {
    height: 26px;
}

nav {
    margin-right: auto;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 15px;
    letter-spacing: 0.6px;
}

.round-icon {
    height: 35px;
    width: 35px;
    background-color: var(--clr-grey);
    border-radius: 50%;
    overflow: hidden;
}

.bell-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-drk-grey);
    font-size: 13px;
    margin-right: 10px;
}

.account-icon img{
    width: 100%;
}

/* hero */
.hero {
    background-color: var(--clr-purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    height: 350px;
}


.hero-text {
    width: 43%;
}

h1 {
    font-size: 35px;
    margin-bottom: 0;
}

.hero-text p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    color: var(--clr-light-purple);
}

.hero-text-button-section > div {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 13px;
}

.browse-button {
    background-color: var(--clr-green);
}

.instructor-button {
    background-color: white;
    color: black;
}


.hero-img {
    height: 100%;
    width: 55%;
}

.hero-img img{
    height: 100%;
    
}

/* course info container */
.course-infos-container {
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.course-infos {
    display: flex;
    align-items: center;
    min-width: 36%;
    margin-right: 5px;
    height: 100%;
}

.course-infos span {
    font-size: 13px;
    color: var(--clr-drk-grey);
}

.course-infos i {
    background-color: var(--clr-brown);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-drk-brown);
    margin: 10px;
}

/* courses */
.courses {
    background-color: var(--clr-grey);
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 50px;
}

.courses h3 {
    font-weight: 300;
    font-size: 20px;
}

.course-card-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.course-card {
    background-color: white;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.course-card.hidden {
    display: none;
}

.title {
    height: 130px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title img{
    width: 100%;
}

.course-name {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.time-level {
    font-size: 13px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--clr-drk-grey);
}


.rating {
    margin-left: 20px;
    font-size: 12px;
    color: var(--clr-drk-grey);
    margin-top: 20px;
    margin-bottom: 20px;
}

.rating span {
    color: var(--clr-orange);
}

.price {
    font-size: 15px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid var(--clr-grey);
    padding-bottom: 20px;
}


.former-price {
    font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
    color: var(--clr-drk-grey)
}

.course-teacher img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.course-teacher {
    display: flex;
    align-items: center;
    font-size: 13px;
    letter-spacing: 0.3px;
    margin: 20px;
    color: var(--clr-drk-grey);
}

.course-teacher span {
    font-size: 10px;
    font-weight: bold;
    margin-left: auto;
}

/* footer */

footer {
    background-color: var(--clr-grey);
    width: 100%;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 12px;
    padding-bottom: 12px;
    color: var(--clr-drk-grey);
}


.copyright {
    width: 250px;
    margin-right: auto;
}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin-right: 0;
}

